* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #d1cbcb;;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho {
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
    
    h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
    }
}

.navegacao {
  width: 100%;
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
}

.navegacao nav {
  display: flex;
  gap: 40px;
  padding: 15px 0;
}

.navegacao a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.navegacao a:hover {
  color: #ffeb3b;
  transform: scale(1.05);
}

.navegacao a:hover::after {
  width: 100%;
}

/* Responsividade */
@media (max-width: 600px) {
  .cabecalho h1 {
    font-size: 1.5rem;
  }

  .navegacao nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navegacao a {
    font-size: 1rem;
  }
}
