<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Gênero</title>
  <link rel="stylesheet" href="/css/genero.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="cabecalho">
    <h1>Cadastro de Gênero</h1>
  </header>

      <div class="navegacao">
        <nav>
            <a href="index.html">Home</a>
            <a href="filme.html">Filmes</a>
            <a href="genero.html">Generos</a>
        </nav>
    </div>
    

  <main class="conteudo">
    <form class="form-genero" action="#" method="post">
      <div class="campo">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome do gênero" required>
      </div>

      <div class="campo">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="4" placeholder="Descreva brevemente o gênero" required></textarea>
      </div>

      <button type="submit" class="botao">Salvar Gênero</button>
    </form>
  </main>

  <footer class="rodape">
    <p>© 2025 Coleção de Filmes</p>
  </footer>
</body>
</html>
